<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="align">
    <div class="grid align__item">
      <div class="login">
        <img
          class="site__logo"
          src="https://i.ibb.co/dmjYTvJ/Solvyng-Logo-White.png"
          alt="Solvyng Logo"
        />

        <form action="" class="form">
          <div class="form__field">
            <input
              type="email"
              id="email"
              name="email"
              #email="ngModel"
              [(ngModel)]="user.email"
              placeholder="Email"
            />
          </div>
          <div class="form__field">
            <input
              [type]="user.showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              #password="ngModel"
              [(ngModel)]="user.password"
              placeholder="Password"
            />
            <!--
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="user.showPassword = !user.showPassword"
            >
              <i
                class="bi"
                [ngClass]="{
                  'bi-eye-fill': !user.showPassword,
                  'bi-eye-slash-fill': user.showPassword
                }"
              ></i>
            </button>
            -->
          </div>

          <div class="form__field">
            <button
              type="button"
              (click)="signIn()"
              class="button-47"
              [disabled]="loading"
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="loading"
              ></span>
              Login
            </button>
          </div>
        </form>
        <p>
          Don't have an account?
          <a routerLink="/signUp">Register</a>
        </p>
      </div>
    </div>
  </body>
</html>
