<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="align">
      <div class="grid align__item">
        <div class="login" *ngIf="!isConfirm">
          <img
            class="site__logo"
            src="https://i.ibb.co/dmjYTvJ/Solvyng-Logo-White.png"
            alt="Solvyng Logo"
          />
          <form action="" class="form">
            <div class="form__field">
              <input
                type="email"
                id="email"
                name="email"
                #email="ngModel"
                [(ngModel)]="user.email"
                placeholder="Email"
              />
            </div>
            <div class="form__field">
              <input
                [type]="user.showPassword ? 'text' : 'password'"
                id="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="user.password"
                placeholder="Password"
              />
              <!--
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="user.showPassword = !user.showPassword"
            >
              <i
                class="bi"
                [ngClass]="{
                  'bi-eye-fill': !user.showPassword,
                  'bi-eye-slash-fill': user.showPassword
                }"
              ></i>
            </button>
            --></div>
            <div class="form__field">
              <button
                type="button"
                (click)="signUp()"
                class="button-47"
                [disabled]="loading"
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                  *ngIf="loading"
                ></span>
                Register
              </button>
            </div>
            <div class="card-body" *ngIf="isConfirm">
              <div class="row">
                <div class="col mb-2">
                  <label for="code" class="form-label">Code:</label>
                  <input
                    type="text"
                    id="code"
                    name="code"
                    #code="ngModel"
                    [(ngModel)]="user.code"
                    class="form-control form-control-sm"
                  />
                </div>
              </div>
              <div class="overlay" id="verificationDialog">
                <div class="verification-box">
                  <h2>Verification</h2>
                  <button
                    type="button"
                    (click)="confirmSignUp()"
                    class="btn btn-sm btn-success"
                    [disabled]="loading"
                  >
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                      *ngIf="loading"
                    ></span>
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </form>
          <p>
            Already have an account?
            <a routerLink="/signIn">Login</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
